/* html,
body { */
/* margin: 0;
  padding: 0;
  height: 100%; */
/* overflow: hidden;
} */

.careerContainer {
  display: flex;
  align-items: start;
  width: 100%;
  min-height: 100vh;
  padding: 40px;
  background-color: darkviolet;
  gap: 40px;
  box-sizing: border-box;
  overflow: hidden;
}

@media (max-width: 425px) {
  .careerContainer {
    flex-direction: column;
    align-items: center;
    padding: 60px 20px 20px 20px;
    gap: 20px;
  }
}

.textContainer {
  flex: 1;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 425px) {
  .textContainer {
    width: 100%;
  }
}

h1 {
  font-size: 3rem;
  width: 100%;
}

@media (max-width: 425px) {
  h1 {
    font-size: 2.5rem;
    text-align: center;
  }
}

p {
  font-size: 1.8rem;
  margin-top: 20px;
}

@media (max-width: 425px) {
  p {
    font-size: clamp(1.4rem, 4vw, 1.5rem);
    text-align: center;
    width: 100%;
    overflow-wrap: break-word;
    word-break: break-word;
  }
}

.formContainer {
  flex: 1;
  padding: 20px;
  border-radius: 5px;
  margin-top: 2%; 
}

.formContainer form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media (max-width: 425px) {
  .formContainer {
    width: 100%;
    margin-top: 20px;
  }
}

.namePhone {
  display: flex;
  gap: 15px;
  width: 100%;
}

@media (max-width: 425px) {
  .namePhone {
    flex-direction: column;
  }
}

.namePhone label {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  color: white;
}
input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
  color: black;
}

textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1.3rem;
  color: black;
  min-height: 120px; /* 👈 controls height */
  resize: vertical;
}

.sendButton {
  padding: 20px;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  width: 300px;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 425px) {
  .sendButton {
    align-self: center;
  }
}

.sendButton:hover {
  background-color: black;
  color: white;
}
