html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* position: relative;  */
  width: 100%;
  /* margin: 0 auto; */
}

.image {
  width: 100%;
  height: auto;
  display: block;
}

.title {
  /* position: absolute;  
  top: 15%;           
  left: 50%;           
  transform: translate(-50%, -50%);  */
  color: rgb(62, 18, 221);
  font-size: clamp(2rem, 6vw, 5rem);
  /* text-align: center;
  font-size: 5rem;    
  text-shadow: 2px 2px 8px rgba(64, 90, 206, 0.7); 
  white-space: nowrap;  */
}

.description {
  /* position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%); */
  color: rgb(0, 0, 0);
  font-size: clamp(1rem, 3vw, 2rem);
  /* text-align: center; */
  /* font-size: 2rem; */
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}
